#map-frame {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow: hidden;
}

.map {
    position: absolute;
    background-position: 0% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: grab;
    z-index: -1;
    transition: transform ease 0.3s;
    transition: scroll ease 0.3s;
}

#swordcoastmap {
    width: 10200px;
    height: 6600px;
    background-image: url("images/Swordcoast\ faded.jpg");
}


.fa-map-marker {
    transform-origin: inherit;
    font-size: inherit;
    color: darkred;
    -webkit-text-stroke: 4px beige;
}

.fa-map-marker:hover {
    transform: scale(1.2);
}

.map-marker {
    font-size: 72px;
    position: absolute;
    top: -90px;
    left: -20px;
    transform-origin: 50% 100%;
    transition: transform ease 0.3s;

}

#waterdeep {
    left: 4586px;
    top: 2362px;
}


header {
    position: fixed;
    margin-top: 10px;
}

header.left {
    left: 10px;
    width: 300pt;
    max-width: 90%;
}

header.right {
    right: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
}

body {
    background-color: black;
    overflow: hidden;
}

#map-frame::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.icon { /*Icons Styling*/
    font-size: inherit;
    color: inherit;
}