header {
    position: fixed;
    margin-top: 10px;
}

header.left {
    left: 10px;
    width: 300pt;
    max-width: 90%;
}

header.right {
    right: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
}

body {
    background-color: black;
    overflow: hidden;
}

.icon { /*Icons Styling*/
    font-size: inherit;
    color: inherit;
}